<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <i class="fa fa-reorder"></i>
        </button>
        <a href="/systems/1" class="navbar-brand">FORTISSIMO</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav">
            <li class="active">
                <a aria-expanded="false" role="button" href="/systems/layout_2"> System </a>
            </li>
            <li>
                <a aria-expanded="false" role="button" href="/systems/tuning"> Tuning</a>
            </li>
            <li class="dropdown">
                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Admin <span class="caret"></span></a>
                <ul role="menu" class="dropdown-menu">
                    <li><a href="">Cluster Management</a></li>
                    <li><a href="">Foundation Volumes Management</a></li>
                    <li><a href="">Storage Export Management</a></li>
                    <li><a href="">User Management</a></li>
                </ul>
            </li>
    </ul>
    <ul class="nav navbar-top-links navbar-right">
        <li>
            <a href="#">
                <i class="fa fa-sign-out"></i> Log out
            </a>
        </li>
    </ul>
</div>
        </nav>
        </div>